<header class="flex px-6 md:px-10 md:py-2 h-16 md:h-24 items-center">
  <div
    class="
      font-jetbrains-mono font-extrabold flex text-lg md:text-xl items-center
    "
  >
    <%= image_tag "rr_logo.svg", class: "h-3 md:h-4" %>
  </div>
  <nav class="grow flex justify-end md:justify-center">
    <ol class="flex gap-2 md:gap-8 uppercase font-semibold text-sm md:text-xl">
      <li>Resume</li>
      <li>About</li>
      <li>Art</li>
      <li>Jot Spot</li>
    </ol>
  </nav>
</header>
<div class="container mx-auto flex justify-center px-6 md:px-0 my-10 md:my-20">
  <div class="w-full md:w-3xl">
    <div
      class="
        h-14 w-14 md:h-20 md:w-20 rounded-full border-[3px] border-[#FF7300]
        overflow-hidden
      "
    >
      <%= image_tag "me.jpg", class: "h-full w-full object-cover grayscale" %>
    </div>

    <h1 class="my-4 text-4xl md:text-7xl font-bold ">Hello, I’m
      <span class="text-[#FF7300]">Romer</span>!</h1>
  </div>

</div>
