<div
  class="
    flex items-center justify-between font-light text-white/70 h-16 md:h-24 px-6
    py-4 md:px-10 text-[11px] md:text-xl
  "
>
  <div><%= t("footer.built_in_madrid", year: 2026) %></div>
  <div><%= t("footer.built_with_love_html") %></div>
</div>
