<div
  class="
    container mx-auto text-center text-white/20 font-semibold text-xs md:text-2xl
    my-10
  "
>
  Ruby on Rails . SvelteKit . Typescript . Go . Python . Java . TailwindCSS .
  Kubernetes . AWS . Photography . Specialty Coffee . Pencil Drawing . Games
</div>
<div
  class="
    flex items-center justify-between font-light text-white/70 h-16 md:h-24 px-6
    md:px-10 text-xs md:text-xl
  "
>
  <div>2026 Website built in Madrid</div>
  <div>I was built with
    <i class="fa-regular fa-heart text-[#FF7300]/70"></i>
    in Venezuela</div>
</div>
